{
    "plugins": ["prettier"],
    "extends": [
        "react-app"
    ],
    "rules": {
        "prettier/prettier": "error"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "legacyDecorators": true
        },
        "sourceType": "module",
        "useJSXTextNode": false
    },
    "overrides": [
        {
            "files": [
                "**/*.ts?(x)"
            ],
            "rules": {
            }
        }
    ]
}