.accommodation
  &__cell-status
    text-align: left
  &__col-address
    width: 16em
  &__col-availability
    width: 6em
  &__col-status
    width: 6em
  &__col-description
    width: 28em
  &__address-zip
    &:after
      content: ", "
